* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Black Han Sans", sans-serif;
}

/**** MOBILE STYLE****/
body {
  background-image: url(../img/memphis-mini-dark.webp);
}

html {
  scroll-behavior: smooth;
}
li,
a {
  font-family: "Black Han Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: whitesmoke;
  text-decoration: none;
}
header {
  padding: 0;
}

.navbar {
  flex-direction: column;
  padding: 20px;
}

.nav_links {
  display: none;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  color: white;
}

.nav_links li {
  display: block;
}

.link {
  max-width: 100px;
}
.logo {
  margin: 0;
  height: auto;
  max-width: 100px;
}

.menu {
  display: block;
  position: absolute;
  top: 40px;
  right: 40px;
}
.menu-line {
  width: 20px;
  height: 3px;
  background-color: white;
  margin-bottom: 4px;
}

.active {
  display: block;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  margin-top: 50px;
  width: 100%;
}
.Beer-image img {
  height: 200px;
  width: 200px;
}

.about-text {
  display: flex;
  padding: 10px;
  margin-top: 200px;
  font-size: 20px;
  color: white;
  text-align: center;
}

.arrow {
  margin-top: 10px;
  box-sizing: border-box;
  height: 3vw;
  width: 3vw;
  border-style: solid;
  border-color: white;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}

.arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}
.beer_list {
  margin-top: 300px;
}

.beer_list h1 {
  padding-top: 40px;
  font-family: "Black Han Sans", sans-serif;
  text-align: center;
  color: white;
  font-size: 40px;
}
.beer_desc {
  color: white;
  text-align: center;
  padding: 20px;
}

/**** Tablet Styles ****/


@media (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
  }

  .navbar {
    flex-direction: row;
    padding: 30px 60px;
    display: flex;
    background-color: black;
    color: white;
    width: 100%;
    justify-content: space-between;
  }

  .nav_links {
    display: flex;
    list-style: none;
    justify-content: flex-end;
  }

  .nav_links li {
    justify-content: flex-end;
    padding: 10px 20px;
  }

  .nav_links li a {
    transition: all 0.3s ease 0s;
  }

  .nav_links li a:hover {
    color: lightskyblue;
  }

  .menu {
    display: none;
  }

  .arrow {
    margin-top: 70px;
  }
  .main-content {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
  }

  .Beer-image {
    width: 33.33%;
    padding: 30px;
  }

  .beer_desc {
    padding: 20px;
  }
}

/**** DESKTOP STYLES****/


@media (min-width: 1440px) {
 

  .about-text {
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 150px;
    font-size: 25px;
  }

  .arrow {
    margin-top: 0px;
    margin-bottom: 30px;
    height: 2vw;
    width: 2vw;
  }

  .beer_list {
    margin-top: 100px;
  }

  .main-content {
    flex-wrap: nowrap;
    flex-direction: row;
    height: 400px;
    margin-bottom: 50px;
  }

  .Beer-image {
    padding: 0px;
  }
  .Beer-image:hover {
    margin-top:-100px;
    transition: margin 0.4s ease-in-out;
  }
}
