* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
 
}

body {
  overflow: hidden;
  background-image: url(../img/memphis-mini-dark.webp);
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.AV{
  gap:10%;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25vh;
}

.button{
  font-family: "Black Han Sans", sans-serif;
color: white;
  font-size: 20px;
  width: 100px;
  padding: 30px;
  border-radius: 50px;
  background-color: black;
}

.disclaimer{
  margin-top:200px;
  text-align: center;
  font-size: 30px;
  color: white;
}
.age {
  font-size: 40px;
}
.legal{
  padding: 10px;
  font-size: 12px;
}